<div class="row">
    <div class="jumbotron">
        <h1>Welcome to Fleur De Lawn's Site</h1>
        <p>
            Inside you will find information related to our lawn and garden care services.
            &nbsp;&nbsp;You can also pay your invoices online by registering for access to your
            account below.
        </p>
        <a class="btn btn-primary btn-lg" role="button">Learn More</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <h3>What Services Do We Offer?</h3>
        <p>Services go here</p>
    </div>
    <div class="col-xs-6">
        <div id="loginbox" class="col-md-8 col-md-offset-2 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign in or Register for an Account</div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
                </div>

                <div style="padding-top:30px" class="panel-body">
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                    <form id="loginform" class="form-horizontal" role="form">
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" name="username" type="text" class="form-control" value="" placeholder="Enter your email address">
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password" placeholder="Enter your password">
                        </div>
                        <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                </label>
                            </div>
                        </div>
                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->
                            <div class="col-xs-12">
                                <a id="btn-login" href="#" class="btn btn-success btn-block btn-lg">
                                    <i class="glyphicon glyphicon-hand-up"></i>&nbsp;Login
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                    Don't have an account!
                                    <a href="#">Sign Up Here</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="signupbox" style="" class="col-md-8 col-md-offset-2 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Register</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#">Sign In</a></div>
                </div>
                <div class="panel-body">
                    <form id="signupform" class="form-horizontal" role="form">
                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>
                        <div class="input-group" style="margin-bottom: 1em;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="text" class="form-control" name="email" placeholder="Email Address">
                        </div>
                        <div class="input-group" style="margin-bottom: 1em;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" name="fullName" placeholder="Enter your full name">
                        </div>
                        <div class="input-group" style="margin-bottom: 1em;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" name="password" placeholder="Enter your password">
                        </div>
                        <div class="input-group" style="margin-bottom: 1em;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" name="passwordConfirm" placeholder="Confirm your password">
                        </div>
                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-xs-12">
                                <button id="btn-signup" type="button" class="btn btn-info btn-lg btn-block">
                                    <i class="glyphicon glyphicon-hand-up"></i>&nbsp;Sign Up
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>